h1{
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    background-color: #ffff00;
    font-size: FF;
    font-style: unset;
    border: solid;
    border-radius: 10px;
    border-width: 5px;
    color: #ff0000
}
a:link{
    color: green;
}
a:visited{
    color: red;
}
.Menu a{
    margin: 30px;
}
p{
    font-size: x-large;
    font-style: oblique;
}
h2{
    font-size: FF;
}
div{
    border: solid;
}
.header *{
    border: solid;
}
.header {
    background-color: #4bf3ff;
    display:flex;
    justify-content:space-between
}
.Site-Description{
    border-style: groove;
    border-width: 10px;
    border-color:#ff0000;
    background-color: #B4FFB4;
    display: flex;
    justify-content: space-evenly;
}
.grid{
    background-color: #79EBFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    position: relative;
    background-color: #B0FFB0;
    border-radius: 40px;
}
.item p{
    position :absolute;
    transform: translate(1%,-170%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.5;
}
.footer{
    border: unset;
    display: flex;
    justify-content: flex-end;
}